
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top dark-color menu">
        <a class="navbar-brand ml-3" href='@Url.Action("Index", "Home")'><img src="~/Content/img/Logo_Med.png" height="41" class="d-inline-block align-top" id="logo-nav" alt="Visible Impact" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto nav-link ml-3" id="nav-home">
                <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Impact", "Index", "ImpactDashboard", null, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Performance", "Index", "Performance", null, new { @class = "nav-link" })</li>
                @{
                    var myAccountModel = WebApplication1.Backend.AccountBackend.Instance.GetActiveUser();
                    if (myAccountModel.isAccountLoggedIn)
                    {
                        var ShowUserName = myAccountModel.AccountName;
                        @Html.ActionLink("Library", "Index", "Library", null, new { @class = "nav-link" })
                    }
                    else
                    {
                        
                    }
                }
            </ul>
            <form class=" navbar-nav nav-link ml-3 form-inline" id="search-log-nav">
                <input class="form-control mr-sm-2" type="search" id="search-nav" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" id="search-btn-nav" type="submit">Search</button>
                @{
                    
                    if (myAccountModel.isAccountLoggedIn)
                    {
                        var ShowUserName = myAccountModel.AccountName;
                        @Html.ActionLink(ShowUserName, "Login", "Account", null, new { @class = "nav-link" })
                    }
                    else
                    {   
                        @Html.ActionLink("Login", "LoginDialog", "Account", null, new { @class = "nav-link" })
                    }
                }
            </form>

        </div>
    </nav>

    <div class="container body-content mt-4">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Green Mutt Friends</p>
        </footer>
    </div>



    @RenderSection("scripts", required: false)
</body>
</html>
