@using WebApplication1.Models;
@model ImpactViewModel
<!doctype html>
<meta charset="utf-8">

<script src="//d3plus.org/js/d3.js"></script>
<script src="//d3plus.org/js/d3plus.js"></script>

@{
    ViewBag.Title = "Index";
}
@Scripts.Render("~/Scripts/jquery-3.4.1.js")
@Scripts.Render("~/Scripts/moment.js")
@Scripts.Render("~/Scripts/daterangepicker.js")
@Scripts.Render("~/Scripts/calendar.js")
@Scripts.Render("~/Scripts/NumAppInstall.js")
@Scripts.Render("~/Scripts/AppUsersGraph.js")
@Scripts.Render("~/Scripts/AppInstallGraph.js")
<h1>Impact Dashboard</h1>




<div class="row date-filter mt-1">
    <div class="overviewcard__icon ml-3">
        <i class="fa fa-calendar  filter-performance-ic img-valign" aria-hidden="true"></i>
    </div>
    <div class="col-lg-1 col-sm-3 mt-2 calendar-filter active-date-range">
        <button type="button" id="week" onclick="getWeeksDate()"> Week</button>
    </div>
    <div class="col-lg-1 col-sm-3 mr-2 mt-2 calendar-filter">
        <button type="button" id="month" onclick="getMonthsDate()"> Month</button>
    </div>
    <div class="col-lg-1 col-sm-3 mt-2 calendar-filter">
        <button type="button" id="all-date" class="calendar-filter" onclick="getYearsDate()"> All</button>
    </div>
    <div class="col-lg-4 mt-2">
        Date
        <input type="text" id="date-input" name="daterange" value="" />
    </div>
</div>

<div class="row mt-3 flexbox">
    <div class="col">
        <img src="~/Content/img/Improvement.PNG" class="mx-auto d-block img-fluid" />
    </div>
    @{var myAccountModel = WebApplication1.Backend.AccountBackend.Instance.GetActiveUser();
        if (myAccountModel.isAccountLoggedIn)
        {
            <div class="col-1">
                <label for="id-of-input" class="custom-checkbox favorite-graph">
                    <input type="checkbox" id="id-of-input" class="favorites" />
                    <i class="fa fa-star fa-stack-1x favorited"></i>
                    <i class="fa fa-star-o fa-stack-1x not-favorited"></i>
                </label>
            </div>}
        else { }}

    <div class="col">
        <img src="~/Content/img/AvgUsers.PNG" class="mx-auto d-block img-fluid " />
    </div>
    @{if (myAccountModel.isAccountLoggedIn)
        {
            <div class="col-1">
                <label for="id-of-input1" class="custom-checkbox favorite-graph" onload="load()">
                    <input type="checkbox" id="id-of-input1" class="favorites" onclick="save()"/>
                    <i class="fa fa-star fa-stack-1x favorited"></i>
                    <i class="fa fa-star-o fa-stack-1x not-favorited"></i>
                </label>
            </div>}
        else { }}
    <div class="col">
        <img src="~/Content/img/AvgInstalls.PNG" class="mx-auto d-block img-fluid " />
    </div>
    @{if (myAccountModel.isAccountLoggedIn)
        {
            <div class="col-1">
                <label for="id-of-input2" class="custom-checkbox favorite-graph">
                    <input type="checkbox" id="id-of-input2" class="favorites" />
                    <i class="fa fa-star fa-stack-1x favorited"></i>
                    <i class="fa fa-star-o fa-stack-1x not-favorited"></i>
                </label>
            </div>}
        else { }}
</div>


<div class="row">
    <div class="col">
        <h3> Photos Taken <span class="graph-filtered-by date"> from May 19 to May 25th </span></h3>
    </div>
    @{if (myAccountModel.isAccountLoggedIn)
        {
            <div class="col-1">
                <label for="id-of-input3" class="custom-checkbox favorite-graph">
                    <input type="checkbox" id="id-of-input3" class="favorites" />
                    <i class="fa fa-star fa-stack-1x favorited"></i>
                    <i class="fa fa-star-o fa-stack-1x not-favorited"></i>
                </label>
            </div>}
        else { }}
</div>

<div class="row">
    <div class="col">
        <h3> App Users <span class="graph-filtered-by date"> from May 19 to May 25th </span></h3>
    </div>
    @{if (myAccountModel.isAccountLoggedIn)
        {
            <div class="col-1">
                <label for="id-of-input4" class="custom-checkbox favorite-graph">
                    <input type="checkbox" id="id-of-input4" class="favorites" />
                    <i class="fa fa-star fa-stack-1x favorited"></i>
                    <i class="fa fa-star-o fa-stack-1x not-favorited"></i>
                </label>
            </div>}
        else { }}
</div>

<div id="viz-app-users"></div>

<div class="row">
    <div class="col">
        <h3> Number of App Installs <span class="graph-filtered-by date"> from May 19 to May 25th </span></h3>
    </div>
    @{if (myAccountModel.isAccountLoggedIn)
        {
            <div class="col-1" >
                <label for="id-of-input4" class="custom-checkbox favorite-graph">
                    <input type="checkbox" id="id-of-input4" class="favorites" />
                    <i class="fa fa-star fa-stack-1x favorited"></i>
                    <i class="fa fa-star-o fa-stack-1x not-favorited"></i>
                </label>
            </div>}
        else { }}
</div>
<div id="viz-num-app-installs"></div>

<script>

    window.onload = function load() {
        var checked = JSON.parse(localStorage.getItem('id-of-input1'));
        console.log(checked);
        document.getElementById("id-of-input1").checked = checked;
    }

    function save() {
        var checkbox = document.getElementById('id-of-input1');
        console.log(checkbox.checked);
        localStorage.setItem('id-of-input1', checkbox.checked);
    }

    //Pull Photos Data on Week
    $("#week").click(
        function () {
            start = moment().subtract(7, 'days');
            end = moment();
            drawVizWithinDateRange(start, end);
            applyButtonStyleDates(this);
        }
    );

    //Pull Photos Data on Month
    $("#month").click(
        function () {
            start = moment().startOf('month');
            end = moment();
            drawVizWithinDateRange(start, end);
            applyButtonStyleDates(this);
        }
    );

    //Pull Photos Data on Month
    $("#all-date").click(
        function () {
            start = moment("4/1/2019");
            end = moment();
            drawVizWithinDateRange(start, end);
            applyButtonStyleDates(this);
        }
    );

    //Draw impact graphs within a date range
    function drawVizWithinDateRange(start, end) {
        //Get data
        dataInDateRange = getDatabyDate(start, end);
        updateGraphTitlesWithDate(start, end);

        //Remove old graph and add app users
        $("#viz-app-users").empty();
        drawAppUsersGraph(dataInDateRange, "#viz-app-users");

        //Remove old graph and add new installs
        $("#viz-num-app-installs").empty();
        drawInstallGraph(dataInDateRange, "#viz-num-app-installs");

    }


    //Get data by date
    function getDatabyDate(start, end) {
            data = [
            @{
                foreach (var item in Model.UserViewModel.UserList){
                    var outputString = Html.Raw("{ clinic: \"" + item.Clinic + "\", date: \"" + item.Date.ToShortDateString() + "\", value: " + item.Value + "},");
                    @outputString
                }
            }
            ],
            start = start,
            end = end,
            currentData = data.filter(d => {
                var date = new moment(d.date);
                return (start <= date && date <= end);
            });
        console.log("pulled from server");
        console.log(currentData);
        return currentData;
    };

    //Defualt views
    $("#week").trigger('click');

</script>