@using WebApplication1.Models;
@model ImpactViewModel
<!doctype html>
<meta charset="utf-8">

<script src="//d3plus.org/js/d3.js"></script>
<script src="//d3plus.org/js/d3plus.js"></script>

@{
    ViewBag.Title = "Index";
}
@Scripts.Render("~/Scripts/jquery-3.4.1.js")
@Scripts.Render("~/Scripts/moment.js")
@Scripts.Render("~/Scripts/daterangepicker.js")
@Scripts.Render("~/Scripts/calendar.js")
@Scripts.Render("~/Scripts/NumAppInstall.js")
@Scripts.Render("~/Scripts/AppUsersGraph.js")
@Scripts.Render("~/Scripts/AppInstallGraph.js")
@Scripts.Render("~/Scripts/showGraph.js")
<h1>Impact Dashboard</h1>



<div class="row date-filter mt-3">
    <div class="col-lg-1">
        <button type="button" id="week" onclick="getWeeksDate()"> Week</button>
    </div>
    <div class="col-lg-1 mr-3">
        <button type="button" id="month" onclick="getMonthsDate()"> Month</button>
    </div>
    <div class="col-lg-1">
        <button type="button" id="all-date" onclick="getYearsDate()"> All</button>
    </div>
    <div class="col-lg-4">
        Date
        <input type="text" id="date-input" name="daterange" value="" />
    </div>
</div>


<div class="row mt-3 flexbox">
    <div class="col">
        <img src="~/Content/img/Improvement.PNG" class="mx-auto d-block img-fluid" />
    </div>
    @{var myAccountModel = WebApplication1.Backend.AccountBackend.Instance.GetActiveUser();
        if (myAccountModel.isAccountLoggedIn)
        {
            <div class="col-1">
                <label for="id-of-input" class="custom-checkbox favorite-graph">
                    <input type="checkbox" id="id-of-input" class="favorites" />
                    <i class="fa fa-star fa-stack-1x favorited"></i>
                    <i class="fa fa-star-o fa-stack-1x not-favorited"></i>
                </label>
            </div>}
        else { }}

    <div class="col">
        <img src="~/Content/img/AvgUsers.PNG" class="mx-auto d-block img-fluid " />
    </div>
    @{if (myAccountModel.isAccountLoggedIn)
        {
            <div class="col-1">
                <label for="id-of-input1" class="custom-checkbox favorite-graph">
                    <input type="checkbox" id="id-of-input1" class="favorites" onclick="showGraph(1)" />
                    <i class="fa fa-star fa-stack-1x favorited"></i>
                    <i class="fa fa-star-o fa-stack-1x not-favorited"></i>
                </label>
            </div>}
        else { }}
    <div class="col">
        <img src="~/Content/img/AvgInstalls.PNG" class="mx-auto d-block img-fluid " />
    </div>
    @{if (myAccountModel.isAccountLoggedIn)
        {
            <div class="col-1">
                <label for="id-of-input2" class="custom-checkbox favorite-graph">
                    <input type="checkbox" id="id-of-input2" class="favorites" />
                    <i class="fa fa-star fa-stack-1x favorited"></i>
                    <i class="fa fa-star-o fa-stack-1x not-favorited"></i>
                </label>
            </div>}
        else { }}
</div>

<div id="image" style="display:none" onload="checkCookie(1)">
    <img src="~/Content/img/PhotosTaken_MainPage.png" class="img-fluid ml-1 border" style="height:200px" />
</div>

<div class="row">
    <div class="col">
        <h3> Photos Taken <span class="graph-filtered-by date"> from May 19 to May 25th </span></h3>
    </div>
    @{if (myAccountModel.isAccountLoggedIn)
        {
            <div class="col-1">
                <label for="id-of-input3" class="custom-checkbox favorite-graph">
                    <input type="checkbox" id="id-of-input3" class="favorites" />
                    <i class="fa fa-star fa-stack-1x favorited"></i>
                    <i class="fa fa-star-o fa-stack-1x not-favorited"></i>
                </label>
            </div>}
        else { }}
</div>

<div class="row">
    <div class="col">
        <h3> App Users <span class="graph-filtered-by date"> from May 19 to May 25th </span></h3>
    </div>
    @{if (myAccountModel.isAccountLoggedIn)
        {
            <div class="col-1">
                <label for="id-of-input4" class="custom-checkbox favorite-graph">
                    <input type="checkbox" id="id-of-input4" class="favorites" />
                    <i class="fa fa-star fa-stack-1x favorited"></i>
                    <i class="fa fa-star-o fa-stack-1x not-favorited"></i>
                </label>
            </div>}
        else { }}
</div>

<div id="viz"></div>

<div class="row">
    <div class="col">
        <h3> Number of App Installs <span class="graph-filtered-by date"> from May 19 to May 25th </span></h3>
    </div>
    @{if (myAccountModel.isAccountLoggedIn)
        {
            <div class="col-1">
                <label for="id-of-input4" class="custom-checkbox favorite-graph">
                    <input type="checkbox" id="id-of-input4" class="favorites" />
                    <i class="fa fa-star fa-stack-1x favorited"></i>
                    <i class="fa fa-star-o fa-stack-1x not-favorited"></i>
                </label>
            </div>}
        else { }}
</div>
<div id="viz1"></div>

<script>
    var AppUsersData = [
    @{
        foreach (var item in Model.UserViewModel.UserList)
        {
            var outputString = Html.Raw("{ clinic: \"" + item.Clinic + "\", Date: \"" + item.Date.ToShortDateString() + "\", value: " + item.Value + "},");
            @outputString
        }
    }
    ]


    $('#id-of-input1').click(function (e) {
        if (e.target.checked) {
            localStorage.checked = true;
        } else {
            localStorage.checked = false;
        }
    })

    $(document).ready(function () {

        document.querySelector('#id-of-input1').checked = localStorage.checked

    });

    $('#week').click(drawAppUsersGraph(AppUsersData, "#viz"));
    $('#week').click(drawAppUsersGraph(NumAppInstallData, "#viz1"));
</script>