@using WebApplication1.Models;
@model List<TotalPhotosTakenModel>

<!doctype html>
<meta charset="utf-8">

<script src="//d3plus.org/js/d3.js"></script>
<script src="//d3plus.org/js/d3plus.js"></script>

@{
    ViewBag.Title = "Performance Dashboard";
}
@Scripts.Render("~/Scripts/jquery-3.4.1.js")
@Scripts.Render("~/Scripts/moment.js")
@Scripts.Render("~/Scripts/daterangepicker.js")
@Scripts.Render("~/Scripts/photostakengraph.js")
@Scripts.Render("~/Scripts/avgphotostakengraph.js")
@Scripts.Render("~/Scripts/calendar.js")

<div>
    <div class="row header-performance">
        <div class="col-lg-7">
            <h1>
                Performance Dashboard
            </h1>
        </div>

        <div class="col mr-4 align-self-end">
            <div class="row chart-filters ">
                <div class="overviewcard col-lg-5 col-sm-4 ml-2 align-self-end active-charts" id="overview-charts">
                    <div class="overviewcard__icon">
                        <i class="fa fa-camera-retro  filter-performance-ic img-valign" aria-hidden="true"></i>
                        <span>Overview</span>
                    </div>
                </div>
                <div class="overviewcard col-lg-5 col-sm-4 ml-2" id="device-charts">
                    <div class="overviewcard__icon">
                        <i class="fa fa-server  filter-performance-ic img-valign" aria-hidden="true"></i>
                        <span>User view</span>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="row date-filter mt-1">
        <div class="overviewcard__icon ml-3">
            <i class="fa fa-calendar  filter-performance-ic img-valign" aria-hidden="true"></i>
        </div>
        <div class="col-lg-1 col-sm-3 mt-2 calendar-filter active-date-range">
            <button type="button" id="week" onclick="getWeeksDate()"> Week</button>
        </div>
        <div class="col-lg-1 col-sm-3 mr-2 mt-2 calendar-filter">
            <button type="button" id="month" onclick="getMonthsDate()"> Month</button>
        </div>
        <div class="col-lg-1 col-sm-3 mt-2 calendar-filter">
            <button type="button" id="all-date" class="calendar-filter" onclick="getYearsDate()"> All</button>
        </div>
        <div class="col-lg-4 mt-2">
            Date
            <input type="text" id="date-input" name="daterange" value="" />
        </div>

    </div>
</div>

        @*<div class="row clinic-filter mt-2">
                <div class="span3 ml-4 mr-2 filter-name">
                    <span>filter by:</span>
                </div>
                <div class="span2 mr-2">
                    <i class="fa fa-camera icon-inactive" aria-hidden="true"></i>
                    <span class="primary-color">Photos Taken</span>
                </div>
                <div class="span2 mr-2">
                    <i class="fa fa-camera icon-inactive" aria-hidden="true"></i>
                    <span class="third-color">Device Details</span>
                </div>
                <div class="span2 mr-2">
                    <img class="img-valign" src="~/content/img/clinic_mashegu.png" alt="mashegu" />
                    <span class="fourth-color">mashegu clinic</span>
                </div>
                <div class="span2 mr-2">
                    <img class="img-valign" src="~/content/img/clinic_rawayau.png" alt="rawayau" />
                    <span class="secondary-color">rawayau clinic</span>
                </div>
            </div>*@

        <div class="row mt-3 performance-graphs white-background">
            <div class="col-lg-7 ml-2">
                <div class="row ">
                    <div class="col">
                        <h3> Photos Taken <span class="graph-filtered-by date"> from May 19th to May 25th </span></h3>
                    </div>
                    <div class="col-1">
                        @{
                            var myAccountModel = WebApplication1.Backend.AccountBackend.Instance.GetActiveUser();
                            if (myAccountModel.isAccountLoggedIn)
                            {
                                <label for="id-of-input7" class="custom-checkbox favorite-graph">
                                    <input type="checkbox" id="id-of-input7" class="favorites" />
                                    <i class="fa fa-star fa-stack-1x favorited"></i>
                                    <i class="fa fa-star-o fa-stack-1x not-favorited"></i>
                                </label>
                            }
                            else
                            {

                            }
                        }
                    </div>
                </div>
                <div id="photos_taken_chart"></div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h3> Avg Photos Taken <span class="graph-filtered-by"> by Device </span></h3>
                    </div>
                    <div class="col-1">
                        @{
                            if (myAccountModel.isAccountLoggedIn)
                            {
                                <label for="id-of-input8" class="custom-checkbox favorite-graph">
                                    <input type="checkbox" id="id-of-input8" class="favorites" />
                                    <i class="fa fa-star fa-stack-1x favorited"></i>
                                    <i class="fa fa-star-o fa-stack-1x not-favorited"></i>
                                </label>
                            }
                            else
                            {

                            }
                        }
                    </div>
                </div>
                <div id="avg_photos_taken_chart"></div>
                <p class="align-bottom ml-5 pl-4 text-center"> Avg # of Photos <span class="date"> from May 19th to May 25th</span></p>
            </div>
        </div>



        <script>

    //Pull Photos Data on Week
    $("#week").click(
        function () {
            start = moment().subtract(7, 'days');
            end = moment();
            drawPhotosTakenViz(start, end);
            applyButtonStyleDates(this);
        }
    );

    //Pull Photos Data on Month
    $("#month").click(
        function () {
            start = moment().startOf('month');
            end = moment();
            drawPhotosTakenViz(start, end);
            applyButtonStyleDates(this);
        }
    );

    //Pull Photos Data on Month
    $("#all-date").click(
        function () {
            start = moment("4/1/2019");
            end = moment();
            drawPhotosTakenViz(start, end);
            applyButtonStyleDates(this);
        }
    );

    //Select a chart series
    $(".overviewcard").click(function () {
        //remove all other selected
        $(".overviewcard").removeClass("active-charts");
        $(this).toggleClass("active-charts");
    });

    //Draw overview graphs on performance page
    function drawPhotosTakenViz(start, end) {
        //Get data
        currentPhotoData = getDatabyDate( start, end );
        updateGraphTitlesWithDate(start, end );

        //Remove old graph and add new
        $("#photos_taken_chart").empty();
        drawPhotosTakenGraph(currentPhotoData);

        //Remove old graph and add new
        $("#avg_photos_taken_chart").empty();
        drawAvgPhotosTakenGraph(currentPhotoData, start, end);
    }

    //Get data by date
    function getDatabyDate(start, end) {
            photosData = [
            @{
                foreach (var item in Model)
                {
                    var photosTakenAmp = 0;
                    //TODO: Remove in production, Just amplifying Ijora Clinic Results For Demo
                    if(item.Clinic == "Ijora Clinic")
                    {
                        photosTakenAmp = Convert.ToInt32(item.Value * 2.3);
                    }
                    else{
                        photosTakenAmp = item.Value;
                    }

                    var outputString = Html.Raw("{ clinic: \"" + item.Clinic + "\", date: \"" + item.Date.ToShortDateString() + "\", value: " + photosTakenAmp + ", userCount: " + item.UserCount + " },");
                    @outputString
                }
            }
            ],
            start = start,
            end = end,
            currentPhotoData = photosData.filter(d => {
                var date = new moment(d.date);
                return (start <= date && date <= end);
            });
        return currentPhotoData;
    };


    //Default views
    $("#overview-charts").trigger("click");
    $('#week').click(drawPhotosTakenViz(moment().subtract(7, 'days'), moment()));
</script>
