@using WebApplication1.Models;
@model LibraryViewModel

@{
    ViewBag.Title = "Library Dashboard";
}

<h1>
    Library Dashboard
</h1>

<div class="row  mt-3">
    <!-- Dropdown to select clinic -->
    <div class="col">
        <form>
            <select name="clinics" class="custom-select clinic-photos">
                <option selected value="all">All Clinics</option>
                <option value="ijora">Ijora Clinic</option>
                <option value="katsina">Katsina Clinic</option>
                <option value="mashegu">Mashegu Clinic</option>
                <option value="rawayau">Rawayau Clinic</option>
            </select>
        </form>
    </div>

    <!-- Date selector -->
    <div class="col-lg-5 date-filter">
        Date
        <input type="text" id="date-input" name="daterange-library" value="" class="ml-2" />
    </div>

    <!-- Checkboxes to select valid/invalid -->
    <div class="col">
        <div class="form-check-inline">
            <label class="form-check-label" style="font-size: 1.35em;">
                <input type="checkbox" class="form-check-input" id="valid-checkbox" checked>Valid
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label" style="font-size: 1.35em;">
                <input type="checkbox" class="form-check-input" id="invalid-checkbox" checked>Invalid
            </label>
        </div>
    </div>
    <div class="col">
        <button type="button" class="btn btn-outline-info" id="reset-button">
            <i class="fa fa-filter"></i> Reset filters
        </button>
    </div>
</div>



<br />

<!-- Tab menu to select view -->
<div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#gallery">Gallery View</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#list">List View</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

        <!-- Gallery view -->
        <div class="tab-pane container active" id="gallery">
            <div class="row m-2">
                <div class="col-lg-8 ml-2">
                    <h4>
                        <span class="count-photos">@Model.PhotoViewModel.PhotoList.Count</span>
                        Photos for
                        <span class="filtered-by-clinic"> All Clinics </span>
                        <span class="filtered-by-date"> All Dates </span>
                    </h4>
                </div>
                <div class="col text-right">
                    <a class="btn btn-success" href="@Url.Action("ExportToCSV", "Library")">
                        <i class="fa fa-download"></i> Download
                    </a>
                </div>
            </div>
            <div class="container">
                <div class="row" id="view-gal">
                    @{
                        foreach (var item in Model.PhotoViewModel.PhotoList)
                        {
                            <div class="col-xs-12 col-md-6 col-lg-3 library-gallery @item.ClinicName" id="item-gal">
                                <figure class="figure">
                                    <a href="@Url.Action("PhotoDetail", new { id = item.ID })">
                                        <img src="@Html.DisplayFor(Model => item.ImageURL)" class="figure-img img-fluid rounded" alt="Photo of test strip submitted through app" width="180">
                                        <figcaption class="figure-caption text-center">
                                            <span id="clinic-gal">
                                                @item.ClinicName
                                            </span>
                                            <br />
                                            @item.PhoneNumber
                                            <br />
                                            <span id="result-gal">
                                                @if (item.ResultIsValid)
                                                {
                                                    <text>@item.Bilirubin Total Serum Bilirubin</text>
                                                }
                                                else
                                                {
                                                    <text>Invalid result</text>
                                                }
                                            </span>
                                            <br />
                                            <span id="date-time-gal">
                                                @item.RecordedDateTime.ToShortDateString() @item.RecordedDateTime.ToShortTimeString() WAT
                                            </span>
                                        </figcaption>
                                    </a>
                                </figure>
                            </div>
                        }
                    }
                </div>
            </div>


        </div>

        <!-- List view -->
        <div class="tab-pane container fade" id="list">
            <div class="row m-2">
                <div class="col-lg-8 ml-2">
                    <h4>
                        <span class="count-photos">@Model.PhotoViewModel.PhotoList.Count</span>
                        Photos for
                        <span class="filtered-by-clinic"> All Clinics </span>
                        <span class="filtered-by-date"> from All Dates </span>
                    </h4>
                </div>
                <div class="col">
                    <input id="library-search" onkeyup="searchLibraryTable()" class="form-control " type="search" placeholder="Search" aria-label="Search">
                </div>
                <div class="col">
                    <a class="btn btn-success" href="@Url.Action("ExportToCSV", "Library")">
                        <i class="fa fa-download"></i> Download
                    </a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped" id="library-table">
                    <thead class="thead-light">
                        <tr>
                            <th>Photo ID</th>
                            <th>Clinic</th>
                            <th>Total Serum Bilirubin</th>
                            <th>Date/Time (UTC)</th>
                            <th>Phone</th>
                            <th>User ID</th>
                            <th>Device</th>
                            <th>OS</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model.PhotoViewModel.PhotoList)
                            {
                                <tr>
                                    <td>@Html.ActionLink(item.ID, "PhotoDetail", new { id = item.ID }, new { @class = "small" })</td>
                                    <td id="clinic-col">@item.ClinicName</td>
                                    <td id="result-col">
                                        @if (item.ResultIsValid)
                                        {
                                            <text>@item.Bilirubin Total Serum Bilirubin</text>
                                        }
                                        else
                                        {
                                            <text>Invalid result</text>
                                        }
                                    </td>
                                    <td id="date-time-col">@item.RecordedDateTime.ToShortDateString() @item.RecordedDateTime.ToShortTimeString()</td>
                                    <td>@item.PhoneNumber</td>
                                    <td>@item.UserID</td>
                                    <td>@item.DeviceType</td>
                                    <td>@item.OSVersion</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>

<br />