@using WebApplication1.Models;
@model LibraryViewModel

@{
    ViewBag.Title = "Library Dashboard";
}
@Scripts.Render("~/Scripts/jquery-3.4.1.js")
@Scripts.Render("~/Scripts/moment.js")
@Scripts.Render("~/Scripts/daterangepicker.js")

<h1>Library Dashboard</h1>

<div class="row">
    <!-- Dropdown to select clinic -->
    <div class="col">
        <form>
            <select name="cars" class="custom-select">
                <option selected>All Clinics</option>
                <option value="batagarawa">Batagarawa Clinic</option>
                <option value="ijora">Ijora Clinic</option>
                <option value="katsina">Katsina Clinic</option>
                <option value="mashegu">Mashegu Clinic</option>
                <option value="rawayau">Rawayau Clinic</option>
            </select>
        </form>
    </div>

    <!-- Date selector -->
    <div class="col">
        <input type="text" name="daterange" value="01/01/2018 - 01/15/2018" />

        <script>
            $(function () {
                $('input[name="daterange"]').daterangepicker({
                    opens: 'left'
                }, function (start, end, label) {
                    console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                });
            });
        </script>
    </div>


    <!-- Checkboxes to select valid/invalid -->
    <div class="col">
        <div class="form-check-inline">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" checked>valid
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" checked>invalid
            </label>
        </div>
    </div>


</div>

<br />

<!-- Tab menu to select view -->
<div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#gallery">Gallery View</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#list">List View</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

        <!-- Gallery view -->
        <div class="tab-pane container active" id="gallery">
            <div class="container">
                <div class="row">
                    @{
                        foreach (var item in Model.PhotoViewModel.PhotoList)
                        {
                            <div class="col-xs-12 col-md-6 col-lg-3">
                                <figure class="figure">
                                    <a href="@Url.Action("PhotoDetail", new { id = item.ID })">
                                        <img src="~/Content/img/Mumu.jpg" class="figure-img img-fluid rounded" alt="Placeholder for test strip" width="180">
                                        <figcaption class="figure-caption text-center">
                                            @item.ClinicName
                                            <br />
                                            @item.PhoneNumber
                                            <br />
                                            @item.Bilirubin Total Serum Bilirubin
                                            <br />
                                            @item.RecordedDateTime.ToShortDateString() @item.RecordedDateTime.ToShortTimeString() UTC
                                        </figcaption>
                                    </a>
                                </figure>
                            </div>
                        }
                    }
                </div>
            </div>


        </div>

        <!-- List view -->
        <div class="tab-pane container fade" id="list">

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th>Photo ID</th>
                            <th>Clinic</th>
                            <th>Total Serum Bilirubin</th>
                            <th>Time (UTC)</th>
                            <th>Phone</th>
                            <th>User ID</th>
                            <th>Device</th>
                            <th>OS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="/Library/PhotoDetail">123-49</a></td>
                            <td>Ijora Clinic</td>
                            <td>15</td>
                            <td>5/17/2019 10:00 am</td>
                            <td>815-991-1111</td>
                            <td>81</td>
                            <td>Samsung Buddy</td>
                            <td>4.1</td>
                        </tr>
                        <tr>
                            <td><a href="/Library/PhotoDetail">123-49</a></td>
                            <td>Ijora Clinic</td>
                            <td>15</td>
                            <td>5/17/2019 10:00 am</td>
                            <td>815-991-1111</td>
                            <td>81</td>
                            <td>Samsung Buddy</td>
                            <td>4.1</td>
                        </tr>
                        <tr>
                            <td><a href="/Library/PhotoDetail">123-49</a></td>
                            <td>Ijora Clinic</td>
                            <td>15</td>
                            <td>5/17/2019 10:00 am</td>
                            <td>815-991-1111</td>
                            <td>81</td>
                            <td>Samsung Buddy</td>
                            <td>4.1</td>
                        </tr>
                        <tr>
                            <td><a href="/Library/PhotoDetail">123-49</a></td>
                            <td>Ijora Clinic</td>
                            <td>15</td>
                            <td>5/17/2019 10:00 am</td>
                            <td>815-991-1111</td>
                            <td>81</td>
                            <td>Samsung Buddy</td>
                            <td>4.1</td>
                        </tr>
                        <tr>
                            <td><a href="/Library/PhotoDetail">123-49</a></td>
                            <td>Ijora Clinic</td>
                            <td>15</td>
                            <td>5/17/2019 10:00 am</td>
                            <td>815-991-1111</td>
                            <td>81</td>
                            <td>Samsung Buddy</td>
                            <td>4.1</td>
                        </tr>
                        <tr>
                            <td><a href="/Library/PhotoDetail">123-49</a></td>
                            <td>Ijora Clinic</td>
                            <td>15</td>
                            <td>5/17/2019 10:00 am</td>
                            <td>815-991-1111</td>
                            <td>81</td>
                            <td>Samsung Buddy</td>
                            <td>4.1</td>
                        </tr>
                        <tr>
                            <td><a href="/Library/PhotoDetail">123-49</a></td>
                            <td>Ijora Clinic</td>
                            <td>15</td>
                            <td>5/17/2019 10:00 am</td>
                            <td>815-991-1111</td>
                            <td>81</td>
                            <td>Samsung Buddy</td>
                            <td>4.1</td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>

<br />