@model WebApplication1.Models.PhotoModel

@{
    ViewBag.Title = "PhotoDetail";
}

<h1>
    Library Dashboard<br />
    Photo Details
</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <img src="~/Content/img/Mumu.jpg" alt="Photo result" width="300" class="rounded" />
        </div>
        <div class="col">
            <h2>
                @Model.ClinicName
            </h2>
            <h3>
                Photo ID: @Model.ID
            </h3>
            <h3>
                @if (Model.ResultIsValid)
                {
                    <text>@Model.Bilirubin Total Serum Bilirubin</text>
                }
                else
                {
                    <text>Invalid result</text>
                }
            </h3>
            Date: @Model.RecordedDateTime.ToShortDateString() 
            <br />
            Time: @Model.RecordedDateTime.ToShortTimeString() UTC
            <br />
            Phone: @Model.PhoneNumber
            <br />
            User ID: @Model.UserID
            <br />
            Device: @Model.DeviceType
            <br />
            OS: @Model.OSVersion
            <br />

        </div>
        <div col="col-2">
            <p>
                <a href="/Library" class="btn btn-outline-info">Back</a><br />
            </p>
            <p>
                <button type="button" class="btn btn-primary">Download</button>
            </p>
            <p>
                <button type="button" class="btn btn-primary">Email link</button>
            </p>
        </div>
    </div>
</div>
