@model WebApplication1.Models.PhotoModel

@{
    ViewBag.Title = "PhotoDetail";
}


<h1>
    Library Dashboard<br />
    Photo Details
</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <img src="@Html.DisplayFor(Model => Model.ImageURL)" alt="Photo result" width="300" class="rounded" />
        </div>
        <div class="col">
            <h2>
                @Model.ClinicName
            </h2>
            <h3>
                Photo ID: @Model.ID
            </h3>
            <h3>
                @if (Model.ResultIsValid)
                {
                    <text>@Model.Bilirubin Total Serum Bilirubin</text>
                }
                else
                {
                    <text>Invalid result</text>
                }
            </h3>
            Date: @Model.RecordedDateTime.ToShortDateString()
            <br />
            Time: @Model.RecordedDateTime.ToShortTimeString() WAT
            <br />
            Phone: @Model.PhoneNumber
            <br />
            User ID: @Model.UserID
            <br />
            Device: @Model.DeviceType
            <br />
            OS: @Model.OSVersion
            <br />

        </div>
        <div col="col-2">
            <p>
                <a href="/Library" class="btn btn-outline-info">Back</a><br />
            </p>
            <p>
                <div class="dropdown show">
                    <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-download"></i> Download
                    </a>

                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="@Url.Action("ExportOneToCSV", new { id = Model.ID })">Data</a>
                        <a class="dropdown-item" href="@Html.DisplayFor(Model => Model.ImageURL)" download="@Model.ID">Image</a>
                    </div>
                </div>
            </p>
            <p>
                <a href="mailto:?subject=Bilirubin%20Photo%20Result&body=@Request.Url.ToString()" class="btn btn-success"><i class="fa fa-envelope-o"></i> Email link</a>
            </p>
        </div>
    </div>
</div>
